.search-form{
    margin: 0px auto;
}

.load-more.is-hidden {
    display: none;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.photo-card {
    flex-basis: calc((100% - 120px) / 4);
}

.search-form~button {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}