.search-form{
display: flex;
justify-content: center;
}

.load-more.is-hidden {
    display: none;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.photo-card {
    flex-basis: calc((100% - 120px) / 4);
    margin-bottom: 20px;
}

.search-form~button {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info{
    display: flex;
    width: 310px;
    text-align: center;
}